/*== INICIANDO ESTILOS PADROES INICIAS ==*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}


/*== INICIANDO ESTILOS BACKGROUND COR FACIT ==*/

.bg-roxo {
    background-color: #8e24aa;
    color: white;
}

.bg-roxo:hover {
    color: white
}

button:focus {
    box-shadow: none !important;
    outline: none !important;
}

.navbar-brand img {
    width: 150px;
}

.bt-width {
    width: 80px;
}

button:focus {
    outline: 0;
}

.navbar .dropdown-menu .form-control {
    width: 200px;
}

.card {
    background-color: #952db3;
    border-radius: 10px;
}

.card img {
    width: 150px;
    margin: 2% auto;
}

.card-title {
    font-size: 18px;
    text-align: center;
    font-size: 20px;
}

ul li a {
    color: white !important;
}

.slide01 {
    display: block!important;
}

.slide02 {
    display: none !important;
}

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  }
  
  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
  }
  .upload-drop-zone.drop {
    color: #222;
    border-color: #222;
  }

  .dp-files li {
      text-align: left;
  }


  /*=============PERFIL===============*/

  @media (max-width: 768px) {

    .sidebar {
       
       flex-direction: column !important;
     
        text-align: center;
    }

    .sidebar form {
        display: flex;
        flex-direction: column !important;
    }

    .sidebar form .item1, .item2  {
        width: 100% !important;
        text-align: left;
    }

    .slide01 {
        display: none!important;
    }

    .slide02 {
        display: block !important;
    }



  }

  



